
.consultant-table {
  border-collapse: collapse;
  width: 100%;
}

.body-row:nth-child(odd) {
  background-color: #EAFAF1;
}

.consultant-table th,
.consultant-table td {
  border-right: 2px solid #EAFAF1;
  padding: 6px 12px;
}

.consultant-table th:last-child,
.consultant-table td:last-child {
  border-right: 0;
}

.left-cell {
  text-align: left
}
.right-cell {
  text-align: right
}
