.dashboard {
  display: flex;
  flex-direction: column;
}

.actions {
  padding: 12px 12px;
}

.actions a:link,
.actions a:visited {
  color: #21618C;
}

.card {
  background-color:  white;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
}

.consultant-table {
  border-collapse: collapse;
  width: 100%;
}

.body-row:nth-child(odd) {
  background-color: #EAFAF1;
}

.consultant-table th,
.consultant-table td {
  border-right: 2px solid #EAFAF1;
  padding: 6px 12px;
}

.consultant-table th:last-child,
.consultant-table td:last-child {
  border-right: 0;
}

.left-cell {
  text-align: left
}
.right-cell {
  text-align: right
}
