.app-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  height: 3rem;
  justify-content: space-between;
  padding: 12px;
}
