.App {
  background-color: #f1f1f1;
  min-height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.consultant-list {
  font-size: calc(10px + 1vmin);
  list-style-type: none;
  text-align: left;
}

.consultant-list-item {
  align-items:  center;
  display:  flex;
  justify-content: space-between;
  min-width: 600px;
  max-width: 1200px;
  padding:  12px;
  width: 70%;
}
